<!doctype html>
<html>
	<head>
		<title><%= title%></title>
		<link rel="stylesheet" href="http://rawgit.com/visionmedia/mocha/master/mocha.css">
		<% if (shim) { %>
		<script src='http://rawgit.com/es-shims/es5-shim/master/es5-shim.min.js'></script>
		<% } %>
		<script src='http://rawgit.com/visionmedia/mocha/master/mocha.js'></script>
	</head>
	<body>
		<script>
			var __logs = []
			function __push(arr) {
				__logs.push(arr)
			}
			if (!window.__print) {
				__print = function(x) {
					console.debug(x)
				}
			}
			console.log = function() {
				__push(arguments)
			}
		</script>
		<script>
			onload = function() {
				Mocha.process.stdout.write = function() {
					__push(arguments)
				}
				mocha.setup({
					ui: '<%= ui%>',
					timeout: 3000,
					reporter: '<%= reporter%>'
				})

				// template
				<%- script %>

				try {
					var runner = mocha.run()
					runner.on('end', function() {
						var obj = {
							total: runner.total,
							failures: runner.failures,
							logs: __logs
						}
						__print(obj)
					})
				} catch (e) {
						__print({
						error: e.message
					})
				}
			}
		</script>
	</body>
</html>
